<button class="btn btn-primary js-new">New post</button>

<div id="goalAssoc-header"><h4></h4></div>

{{!-- <form id="filter-form" class="form-search form-inline pull-right">
  <div class="input-append">
    <input type="text" class="span2 search-query js-filter-criterion">
    <button type="submit" class="btn">Filter posts</button>
  </div>
</form> --}}
